[Desktop Entry]
Comment=
Exec=/home/donovan/Playback.appimage
Icon=/home/donovan/icons/playback.png
Name=Playback
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
